.category_inline {
	display:inline-block;
	padding:1em;
	margin:1em;
	border-radius:1em;
	border:1px solid grey;
	box-shadow: 5px 5px 5px #aaa;
	width:8em;
	height:12em;
}
.label-info a, .label-info a:visited {
	color:ghostwhite;
}