{% load thumbnail staticfiles %}

<div class="category_inline">
	<div class="text-center">
		<a href="{% url 'links-category-list' category.slug %}">
		{% if category.image %}
			{% thumbnail category.image "130x130" format="PNG" as img %}
				<img src="{{ img.url }}" alt="" style="margin:{{ img|margin:"130x130" }}" />
			{% endthumbnail %}
		{% elif category.icon %}
			<div style="width:130px;height:130px;font-size:700%">
				<i class="fa fa-{{ category.icon }}"></i>
			</div>
		{% else %}
			{# fallback to default #}
			<div style="width:130px;height:130px;font-size:700%">
				<i class="fa fa-link"></i>
			</div>
		{% endif %}
		</a>
	</div>
	<p class="gbf">
		<a href="{% url 'links-category-list' category.slug %}">{{ category.name }}</a>
	</p>
</div>