{% load thumbnail staticfiles %}

<div class="category_inline">
	<div class="text-center gf">
		<a href="{% url 'links-category-list' category.slug %}">
		{% if category.image %}
			<div style="min-width:130px;min-height:130px;" class="gf">
				<img class="img-responsive" src="{{ category.image|thumbnail_url:'cat_title' }}" alt=""/>
			</div>
		{% elif category.icon %}
			<div style="min-width:130px;min-height:130px;font-size:700%" class="gf">
				<i class="fa fa-{{ category.icon }}"></i>
			</div>
		{% else %}
			{# fallback to default #}
			<div style="min-width:130px;min-height:130px;font-size:700%" class="gf">
				<i class="fa fa-link"></i>
			</div>
		{% endif %}
		</a>
	</div>
	<p class="gbf">
		<a href="{% url 'links-category-list' category.slug %}">{{ category.name }}</a>
	</p>
</div>