{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'linkcat/linkcat.css' %}" />
{% endblock extra_head %}
 
{% block title %}{% trans 'Links catalog' %}{% endblock title %}

{% block breadcrumbs %}
	<div class="pull-right label label-info hidden-xxs grs">
		{{ num_links }} {% trans 'links' %}
	</div>
	{% with current_category as category %}
		{% include 'linkcat/breadcrumbs.html' %}
	{% endwith %}
{% endblock %}
			
 
{% block content %}
 <div class="row">
	<div class="col-xs-12 text-center">
		<h1 class="gds">{% trans 'Links catalog' %}</h1>
		{% if is_moderator %}
			<div class="gf gc">
				<a class="btn btn-{% if num_items_in_queue > 0 %}warning{% else %}default{% endif %} gds gus" href="{% url 'links-moderation-queue' %}">
					<i class="fa fa-server"></i>&nbsp;{% trans 'Moderation queue' %}
					{% if num_items_in_queue > 0 %}<div class="badge">{{ num_items_in_queue }}</div>{% endif %}
				</a>
			</div>
		{% endif %}
	    <a name="main_content"></a>
	    {% if categories %}
		    {% for category in categories %}
	            {% if category.is_leaf_node %}
	            	{% with leaf=True %}
	             		{% include 'linkcat/category_inline.html' %}
	             	{% endwith %}
		        {% else %}
		        	{% include 'linkcat/category_inline.html' %}
		        {% endif %}
		    {% endfor %}
		{% else %}
			<div class="jumbotron text-center gbf">{% trans "There are no categories yet" %}</div>
		{% endif %}
	</div>
</div>
{% endblock content %}