{% extends "base.html" %}
{% load staticfiles i18n bootstrap thumbnail %}

{% block title %}{{ category.name }}{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" media="screen, projection" href="{% static 'linkcat/linkcat.css' %}" />
	<script type="text/javascript" src="{% static 'linkcat/linkcat.js' %}"></script>
{% endblock extra_head %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right label label-info hidden-xxs" style="position:relative;top:8px;right:10px;font-size:100%">
					{% if is_moderator %}
						<a href="{% if not edit_mode %}?edit_mode=1{% else %}.{% endif %}"><i class="fa fa-pencil"></i></a>
					{% endif %}
					{{ num_links }} {% trans 'links' %}
				</div>
				{% include 'linkcat/breadcrumbs.html' %}
			</div>
		</div>
	</div>
	<div class="label label-info visible-xxs" style="font-size:100%">{{ num_links }} {% trans 'links' %}</div>
	<a name="main_content"></a>
	<div class="row">
		<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
			{% if not user.is_anonymous %}
				<div id="add-link-btn" class="pull-right gus-l">
					<a id="add-link-btn-a" class="btn btn-primary" href="javascript:add_link('{% url 'links-add-link' slug=category.slug %}')">{% trans 'Add link' %}</a>
				</div>
			{% endif %}
			<h1 class="text-center"><a name="title"></a>
			{% thumbnail category.image "80x80" format="PNG" as img %}
				<img src="{{ img.url }}" alt="" style="margin:{{ img|margin:"80x80" }}" />
			{% endthumbnail %}{{ category.name }}</h1>
			<div id="add-link" style="display:none"></div>
			<div id="links_list">
				{% if num_links > 0 %}
				    <ul class="list-group">
					    {% for link in links %}
					        {% include 'linkcat/link_inline.html' %}
					    {% endfor %}
					</ul>
				{% else %}
					<div class="jumbotron text-center gbf">{% trans "No links yet" %}</div>
				{% endif %}
			</div>
			<div class="gus-l gf text-center">{% include "linkcat/paginate.html" %}</div>
			<div class="hidden-xs">{% include 'mbase/return_btn.html' %}</div>
			<div class="visible-xs gds-md">{% include 'mbase/return_btn.html' %}</div>
		</div>
	</div>
{% endblock %}

