{% load linkcat %}
<li class="list-group-item link_inline">
	{% if edit_mode %}
		{% if is_moderator %}
			<div class="pull-right">
				{% if not forloop.first %}
					{% with previous=links|previous:forloop.counter0 %}
						<a href="javascript:load_url('#links_list', '{% url 'links-switch-links-order' link_pk_1=link.pk link_pk_2=previous.pk %}')"><i class="fa fa-arrow-up" style="color:green"></i></a>
					{% endwith %}
				{% endif %}
				{% if not forloop.last %}
					{% with next=links|next:forloop.counter0 %}
						<a href="javascript:load_url('#links_list', '{% url 'links-switch-links-order' link_pk_1=next.pk link_pk_2=link.pk %}')"><i class="fa fa-arrow-down" style="color:green"></i></a>
					{% endwith %}
				{% endif %}
			</div>
		{% endif %}
	{% endif %}
	<a href="{{ link.url }}">{{ link.name }}</a>{% if link.description %} {{ link.description|lower }}{% endif %}
</li>