<script type="text/javascript">
	{% include "fscreen/fscreen.js" %}
</script>
<style>
	body { 
	  margin:0;
	  padding:0;
	  background: url({{ image.url }}) no-repeat fixed; 
	  background-position:left top;
	  -webkit-background-size: cover;
	  background-size: cover;
	}
</style>
{% if presentation.debug_mode %}
	<script>$('#debugmsg').html(($(window).width()+' x '+$(window).height()));</script>
{% endif %}
	<div id="debugmsg" class="label label-default" style="position:absolute;top:0.5em;right:0.5em"></div>
{{ html|safe }}